@import 'assets/styles/_variables.scss';

.form {
  padding: 2rem;
  background-color: $color-primary-800;
  border-radius: 1rem;
  font-family: $font-family;
  width: 100%;
  &Title {
    color: $color-secondary-400;
    margin-block: 1rem;
  }
  &Control {
    display: flex;
    width: 100%;
    margin-bottom: 1.25rem;
    flex-direction: column;
  }
  &FileInput {
    color: $color-neutral-200;
    margin-block: 0.5rem;
  }
  &Input,
  &TextArea {
    background-color: rgba($color-secondary-600, 0.7);
    border: none;
    outline: none;
    padding: 0.5rem;
    transition: $animation-duration;
    &:focus {
      background-color: $color-secondary-600;
    }
    border-radius: 0.25rem;
  }
  &TextArea {
    resize: none;
  }
  &Label {
    color: $color-secondary-400;
    margin-bottom: 0.5rem;
  }
  &Info {
    color: $color-secondary-600 !important;
    font-size: 0.75rem !important;
    margin-top: 0.125rem;
  }
  &ValidationMessage {
    color: $color-danger;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}

.response {
  &Success {
    color: $color-success;
  }
  &Error {
    color: $color-danger;
  }
}
