@import 'assets/styles/_variables.scss';
.container {
  position: fixed;
  width: 100vw;
  inset: 0;
  background-color: rgba($color-primary-800, 0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  background-color: $color-primary-800;
  padding: 1rem;
  max-width: 100vw;
}
.closeBtn {
  position: absolute;
  right: 12px;
  top: 12px;
}
