@import 'assets/styles/_variables.scss';

.container {
  background-color: $color-primary-1000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: min(400px, 95%);
}
