@import 'assets/styles/_variables.scss';
.headerContent {
  display: flex;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary-400;
  width: 100%;
}
.header {
  &Left,
  &Right {
    display: flex;
    align-items: center;
  }
  &Left {
    gap: 1rem;
    svg {
      color: white;
    }
    a {
      display: flex;
      align-items: center;
    }
  }

  &Right {
    img {
      width: 2rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.search {
  &Container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $color-primary-200;
    border-radius: 0.25rem;
    width: 450px;
    input {
      width: 100%;
      background-color: $color-primary-800;
      border: none;
      outline: none;
      color: $color-secondary-200;
      font-family: $font-family;
      font-weight: 500;
      padding: 0.5rem;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }
  &Button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: $color-primary-200;
    border: none;
    cursor: pointer;
    svg {
      fill: $color-secondary-200;
    }
  }
}
