@import 'assets/styles/_variables.scss';
.container {
  width: 100%;
  background-color: $color-primary-1000;
  padding: 1rem;
  font-family: $font-family;
  h2 {
    color: $color-secondary-200;
    margin-bottom: 2rem;
  }
}
.paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}
.content {
  display: flex;
  width: 90%;
  margin-inline: auto;
  margin-bottom: 0.75rem;
  justify-content: space-between;
  &Body {
    display: flex;
  }
  &Image {
    aspect-ratio: 3/2;
    width: 20%;
    margin-right: 0.5rem;
  }
  h1 {
    color: $color-secondary-200;
    font-weight: 100;
    font-size: 1.5rem;
  }
  p {
    color: $color-secondary-400;
  }
  span {
    color: $color-secondary-600;
    font-size: 0.875rem;
  }
}

.videoPopupForm {
  width: 500px;
}
