$font-family: 'Roboto', 'Arial';

//variable names will be edited later
$color-primary-200: #373737;
$color-primary-1000: #282828;
$color-primary-400: #202020;
$color-primary-600: #181818;
$color-primary-800: #121212;
//
$color-secondary-200: #fff;
$color-secondary-400: #aaa;
$color-secondary-600: #4d4d4d;
//
$color-accent-200: #cc0000;
$color-neutral-200: #3ea6ff;
//
$color-success: #28a745;
$color-info: #0dcaf0;
$color-danger: #dc3545;
$animation-duration: 300ms;
//

$content-xxsmall: min(500px, 95%);
$content-small: min(800px, 95%);
$content-medium: min(900px, 95%);
$content-large: min(1000px, 95%);
