$font-family: 'Roboto', 'Arial';

$color-primary-200: #373737;
$color-primary-400: #202020;
$color-primary-600: #181818;
$color-primary-800: #121212;
//
$color-secondary-200: #fff;
$color-secondary-400: #aaa;
$color-secondary-600: #4d4d4d;
//
$color-accent-200: #cc0000;
$color-neutral-200: #3ea6ff;
//
$animation-duration: 300ms;
//

$content-small: min(800px, 95%);
$content-medium: min(900px, 95%);
$content-large: min(1000px, 95%);
