$font-family: 'Roboto', 'Arial';

$color-primary-200: #373737;
$color-primary-400: #202020;
$color-primary-600: #181818;
$color-primary-800: #121212;
//
$color-secondary-200: #fff;
$color-secondary-400: #aaa;
$color-secondary-600: #4d4d4d;
//
$animation-duration: 300ms;
